.DS_Store
03/Pythonlearn-03-Conditional.pptx
02/Pythonlearn-02-Expressions.pptx
01/Pythonlearn-01-Intro.pptx
04/Pythonlearn-04-Functions.pptx
05/Pythonlearn-05-Iterations.pptx
06/Pythonlearn-06-Strings.pptx
07/Pythonlearn-07-Files.pptx
08/Pythonlearn-08-Lists.pptx
09/Pythonlearn-09-Dictionaries.pptx
10/Pythonlearn-10-Tuples.pptx
11/Pythonlearn-11-Regex.pptx
12/Pythonlearn-12-HTTP.pptx
13/Pythonlearn-13-WebServices.pptx
14/Pythonlearn-14-Objects.pptx
15/Pythonlearn-15-Databases.pptx
16/Pythonlearn-16-Data-Viz.pptx